<!-- Chat Interface -->
<div class="chat-container">
    <!-- Left Sidebar: List of Chats -->
    <!-- Left Sidebar: List of Chats -->
<div class="chat-sidebar">
  <!-- Create New Chat Button -->
  <button mat-stroked-button color="#2C5F2D" (click)="createNewChat()">Create New Chat</button>

  <mat-list>
    <!-- Display all chat threads with their first questions -->
    <mat-list-item class="chat-list" *ngFor="let chat of chatHistory" [ngClass]="{ 'selected-chat': chat === selectedChat }" (click)="openChat(chat)">
      {{ chat.chat_thread[0].content }}
    </mat-list-item>
  </mat-list>
</div>
  
    <!-- Right Chat Area -->
    <div class="chat-main" #chatHistoryContainer>
  
      <div class="chat-history">
        <div class="message" *ngFor="let message of selectedChat?.chat_thread">
          <div class="message-content" [ngClass]="{ 'user-message': message.role === 'user', 'assistant-message': message.role === 'assistant' }">
            {{ message.content }}
          </div>
        </div>
        <div *ngIf="isLoading">Please wait response is taking some time...</div>
        <div *ngIf="!isLoading">
      </div>
  
      <!-- Chat Input -->
      <mat-form-field class="chat-input">
        <input matInput [(ngModel)]="messageInput" placeholder="Type your question here" />
        <button mat-icon-button (click)="sendQuestion()" color="primary">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  